.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.body{
	background-color:#070808;
}


.site-header {
  background-color: rgba(0, 0, 0, 0.582);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #000000;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #020202;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
 .col-md-5 {
  float: none;
  width: 100%;
}


.product-device {
  position: relative;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 500px;
  
  content: url("../assets/images/hero_img.png");
}



.product-device-2 {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 5%;

 

  background-color: #9e6b6b;
  content: url("../assets/images/jb_sign.jpg");
}


.product-device-3 {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #9e6b6b;
  content: url("../assets/images/orbital.png");
}

.product-device-4 {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #9e6b6b;
  content: url("../assets/images/celestial.png");
}

.product-device-5 {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #9e6b6b;
  content: url("../assets/images/square.png");
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
